{% extends 'base.html' %}
{% block title %}Đăng nhập{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow mt-5">
            <div class="card-header bg-primary text-white text-center">
                <h5 class="mb-0">Đăng Nhập</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="form-group mb-3">
                            <label class="font-weight-bold">{{ field.label }}</label>
                            {{ field }} {% if field.errors %}
                                <small class="text-danger">{{ field.errors.0 }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block mt-3 py-2 font-weight-bold">VÀO HỆ THỐNG</button>
                </form>
                <hr>
                <div class="text-center">
                    <p class="mb-0">Chưa có tài khoản? <a href="{% url 'register' %}" class="font-weight-bold">Đăng ký ngay</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
