{% extends "base.html" %}
{% block title %}Khởi tạo dự án{% endblock %}
{% block content %}
<div class="jumbotron mt-5">
  <h1 class="display-5 font-weight-bold">Giai đoạn 1 - Khởi tạo project Django</h1>
  <p class="lead">Ở giai đoạn này project mới có khung chạy cơ bản: project <b>gis</b>, app <b>myapp</b>, route trang chủ và template tối thiểu.</p>
  <hr>
  <p>Mục tiêu của mốc này là chạy được server, tạo app, tổ chức thư mục và chuẩn bị nền để thêm dữ liệu căn hộ ở giai đoạn tiếp theo.</p>
</div>
{% endblock %}